.item {
  font-size: 28px;
  background-color: #429dca;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
}

// .item--done {
//   background-color: #00304a;
//   color: #aaa;
//   text-decoration: line-through;
// }

.item__close {
  position: absolute;
  top: 8px;
  right: 8px;
}